body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}
h2{
    display: flex;
    justify-content: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #0073e6;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
i{
    color: black;
}