body{
    background: url("bg.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
}
h2{
    display: flex;
    justify-content: center;
    color: bisque;
    
}
form{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 25%;
   background-color: whitesmoke;
    width: 50%;
    border-radius: 50px;
   
    
 
}
input{
    font-size: large;
    color: #0250c5;
   
    width: 70%;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid black;
}
label{
    color: #d43f8d;
    font-size: 150%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
input[type='text'],[type='email'],[type='text']{
    text-align: center;
}
select[name='gender']{
    text-align: center;
    width: 70%;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid black;
}
button{
    height: 50px;  
    border: 1px solid black; 
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
h3{
    display: flex;
    justify-content: center;
}
table{
    margin-left: 21%;
}
#crime{
    text-align: center;
}